<div class="card mb-3">
  <div class="card-body">
    <h1 class="card-title">{{post.title}}</h1>
    <p class="card-text">{{post.content}}</p>
    <p>Posted by {{post.user.username}} on {{formatDate post.createdAt}}</p>
  </div>
</div>

{{#if comments.length}}
  <h2>Comments</h2>
  {{#each comments}}
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text">{{content}}</p>
        <p>By: {{User.username}}</p>
        <p>Date: {{formatDate createdAt}}</p>
      </div>
    </div>
  {{/each}}
{{else}}
  <p>No comments yet.</p>
{{/if}}

{{#if isAuthenticated}}
  <form class="comment-form">
    <input type="hidden" name="post-id" value="{{post.id}}">
    <textarea name="comment-body"></textarea>
    <button type="submit">Submit Comment</button>
  </form>
{{else}}
  <p>Please <a href="/login">log in</a> to leave a comment.</p>
{{/if}}

<script src="/js/comment.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/edit.js"></script>
